<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <header>
      <% include ./partials/navbar %>
    </header>
    <div class="card-panel blue accent-3">
    <h1>Geoffs Music Library</h1>
    </div>
    <div class="card-panel blue accent-3">
    <p>Welcome to Geoffs Music Library</p>
    </div> 
  </body>
</html>